<div class="container">
  <p class=""><h2 class="">services
 <% if can? :create, @service %>
      <%= link_to 'Add New Offered service', new_service_path, class: "btn btn-default", style: "float:right;" %>
    <%end %>
    </h2>
</p>


  <table class="table table-striped">
   
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Category</th>
        <th>Gender </th>
        <th>Level</th>
        
      </tr>

      <% @services.each do |service| %>
       <tr>
        <td><%= service.name %></td>
        <td><%= service.price %></td>
        <td><%= service.category.name %></td>
        <td><%= service.gender.name %></td>
        <td><%= service.level.number %></td>
        <td><%= link_to 'Show', service %></td>
        <td><%= link_to 'Edit', edit_service_path(service) %></td>
        <td><%= link_to 'Destroy', service, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>

  </table>

  <br>
      

  <%= link_to 'Back', :back , class: "btn btn-default" %>
</div>
   