<div class="container">
  <p class=""><h2 class="">Customers
 <% if can? :create, @customer %>
      <%= link_to 'Add New Offered customer', new_customer_path, class: "btn btn-default", style: "float:right;" %>
    <%end %>
    </h2>
</p>


  <table class="table table-striped">
   
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th> Address</th>
        <th>City </th>
        <th> Customer Status</th>
        
      </tr>

      <% @customers.each do |customer| %>
       <tr>
        <td><%= customer.first_name %></td>
        <td><%= customer.last_name %></td>
        <td><%= customer.address %></td>
        <td><%= customer.city.name %></td>
        <td><%= customer.customer_status.name %></td>
        <td><%= link_to 'Show', customer %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
        <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>

  </table>

  <br>
      

  <%= link_to 'Back', :back , class: "btn btn-default" %>
</div>
   