<div class="container">
  <p class=""><h2 class="">Stylists
 <% if can? :create, @stylist %>
      <%= link_to 'Add New Stylist', new_stylist_path, class: "btn btn-default", style: "float:right;" %>
    <%end %>
    </h2>
</p>


  <table class="table table-striped">
   
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Address</th>
        <th>City </th>        
      </tr>

      <% @stylists.each do |stylist| %>
       <tr>
        <td><%= stylist.first_name %></td>
        <td><%= stylist.last_name %></td>
        <td><%= stylist.address %></td>
        <td><%= stylist.city.name %></td>
        <td><%= link_to 'Show', stylist %></td>
        <td><%= link_to 'Edit', edit_stylist_path(stylist) %></td>
        <td><%= link_to 'Destroy', stylist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>

  </table>

  <br>
      

  <%= link_to 'Back', root_path , class: "btn btn-default" %>
</div>
   