<p id="notice"><%= notice %></p>

<p>
  <strong>Sku:</strong>
  <%= @item.sku %>
</p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @item.price %>
</p>

<p>
  <strong>Cost price:</strong>
  <%= @item.cost_price %>
</p>

<p>
  <strong>Level:</strong>
  <%= @item.level.name %>
</p>

<p>
  <strong>Item type:</strong>
  <%= @item.item_type.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @item.category.name %>
</p>

<p>
  <strong>Stock amount:</strong>
  <%= @item.stock_amount %>
</p>

<p>
  <strong>Amount sold:</strong>
  <%= @item.amount_sold %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
